<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="10">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
<!-- 			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n" /> -->
				<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:sss} [%5.5t] %-5p [%30.30c{1}.%-3.-3M:%-3L] - %msg%n" />

		</Console>
 
		<RollingFile name="RollingFile" filename="log/TrafficManager.log"
			filepattern="${logPath}/%d{yyyyMMddHHmmss}-fargo.log">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
 
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Root>
	</Loggers>
</Configuration>